<div class="flex flex-col h-dvh">
@if (this.offlineStorage.offlineMode()) {
<partial-offline-banner />
}

@if (this.offlineStorage.serverUnreachable())
{
<partial-connection-error />
}
@else if (this.authService.unlocked())
{
@if (this.screenWidth() < this.breakWidth) { <p-drawer [(visible)]="this.showSidebar" [closable]="false" [style]="{ width: '15rem' }">
    <partial-nav (onCloseNav)="this.onToggleSidebar()" />
    </p-drawer>
    }

    <main class="grid gap-4 p-4 flex-1 min-h-0 overflow-hidden max-[800px]:grid-cols-1" [class.grid-cols-1]="!this.showSidebar()" [class.sidebar-grid]="this.showSidebar()">
        @if (this.screenWidth() >= this.breakWidth)
        {
        <section class="nav h-full min-h-0 overflow-y-auto" [class.hidden]="!this.showSidebar()">
            <partial-nav />
        </section>
        }
        <section class="flex flex-col gap-2 h-full min-h-0 overflow-y-auto">
            <component-button icon="pi pi-bars" [rounded]="true" width="auto" (onClick)="this.onToggleSidebar()" severity="secondary" />
            <router-outlet />
        </section>
    </main>
    }
    @else
    {
    <partial-unlock />
    }
</div>