<section class="grid grid-rows-[auto_1fr] gap-5">
    @if (this.databaseService.loadingNoticeVisible()) {
        <p-message severity="info" variant="simple">
            {{ 'home.loadingNotes' | translate: { count: this.databaseService.syncedCount() } }}
        </p-message>
    }
    @if (this.offlineStorage.offlineMode()) {
        <p-message severity="warn" variant="simple">
            {{ 'offline.readOnlyNotice' | translate }}
            @if (this.offlineStorage.snapshotMeta()?.syncedAt == null) {
                {{ 'offline.emptySnapshotNotice' | translate }}
            }
        </p-message>
    }
    @if (this.databaseService.syncingLocal()) {
        <div class="flex flex-col gap-1">
            <p-progressbar mode="indeterminate" [style]="{ height: '6px' }" />
            <span class="text-sm">{{ 'offline.syncProgress' | translate: { count: this.databaseService.syncedLocalCount() } }}</span>
        </div>
    }

    <section>
        <partial-note-list (onEditNote)="this.onEditNote($event)" (onDeleteNote)="this.onDeleteNote($event)" (onToggleFavorite)="this.onToggleFavorite($event)" [(parentNote)]="this.parentNote">
            <p-button icon="pi pi-sync" severity="secondary" [outlined]="true" [label]="'offline.syncButton' | translate"
                [disabled]="this.databaseService.syncingLocal()" (onClick)="this.onOpenSyncModal()" />
            @if (this.canEdit()) {
                <p-splitbutton [label]="'home.newPassword' | translate" severity="success" icon="pi pi-key" (onClick)="onOpenNote({note: null, template: 'password'})" [model]="this.items()" />
            }
        </partial-note-list>
    </section>

</section>
<component-input-text-area class="hidden"/>

@let localModalNote = this.modalNote();
@if (localModalNote.open) {
    <component-dialog (open)="this.onNoteModalCloseRequested($event, note)">
        <ng-template #header>
            @if(localModalNote.note) {
                <h2>{{ 'home.editNote' | translate }}</h2>
            }
            @else {
                <h2>{{ 'home.createNote' | translate }}</h2>
            }
        </ng-template>
        <partial-note-create [note]="localModalNote.note" [template]="localModalNote.template" (onCreate)="this.onCreateNote($event)" (onCancel)="this.modalNote.set({ open: false, note: null, template: 'password' })" [parentNote]="this.parentNote()" [isFolder]="false" #note />
        <ng-template #footer>
            <ng-container *ngTemplateOutlet="note.footer()" />
        </ng-template>
    </component-dialog>
}

@let localModalFolder = this.modalFolder();
@if (localModalFolder.open) {
    <component-dialog (open)="this.onNoteModalCloseRequested($event, folder)">
        <ng-template #header>
            @if(localModalFolder.note) {
                <h2>{{ 'home.editFolder' | translate }}</h2>
            }
            @else {
                <h2>{{ 'home.createFolder' | translate }}</h2>
            }
        </ng-template>
        <partial-note-create [note]="localModalFolder.note" (onCreate)="this.onCreateFolder($event)" (onCancel)="this.modalFolder.set({ open: false, note: null })" [parentNote]="this.parentNote()" [isFolder]="true" #folder />
        <ng-template #footer>
            <ng-container *ngTemplateOutlet="folder.footer()" />
        </ng-template>
    </component-dialog>
}

@if (this.syncModalOpen()) {
    <component-dialog (open)="this.syncModalOpen.set($event)" [small]="true">
        <ng-template #header>
            <h2>{{ 'offline.syncConfirmTitle' | translate }}</h2>
        </ng-template>

        <div class="form-content">
            <p>{{ 'offline.syncConfirmMessage' | translate }}</p>
            <div class="form-field">
                <component-input-password [(value)]="this.syncPassword" [placeholder]="'common.passwordPlaceholder' | translate" [label]="'common.password' | translate" />
            </div>
        </div>

        <ng-template #footer>
            <component-button (onClick)="this.syncModalOpen.set(false)" severity="secondary" [label]="'common.cancel' | translate" />
            <component-button (onClick)="this.onConfirmSync()" severity="info" icon="pi pi-sync"
                [disabled]="this.syncPassword().length === 0 || this.databaseService.syncingLocal()" [label]="'offline.syncButton' | translate" />
        </ng-template>
    </component-dialog>
}