<section class="w-full h-dvh overflow-y-auto flex justify-center items-center">
    <p-card>
        @if (this.mode() === 'login') {
            @if (this.pendingTwoFactor() === null) {
                <form class="flex flex-col" (submit)="this.SubmitLogin($event)">
                    <img src="logo.svg" alt="" class="mx-auto h-24 w-24" />
                    <h1 class="text-center">{{ 'login.title' | translate }}</h1>
                    <p-divider />
                    <div class="form-content">
                        <div class="form-field">
                            <component-input-text [formField]="this.loginSignal.username" [placeholder]="'common.usernamePlaceholder' | translate" [label]="'common.username' | translate" />
                            @if (this.loginSignal.username().touched()) {
                                @for (error of this.loginSignal.username().errors(); track $index) {
                                    <p-message severity="error" size="small" variant="simple">{{ error.message }}</p-message>
                                }
                            }
                        </div>

                        <div class="form-field">
                            <component-input-password [formField]="this.loginSignal.password" [placeholder]="'common.passwordPlaceholder' | translate" [label]="'common.password' | translate" />
                            @if (this.loginSignal.password().touched()) {
                                @for (error of this.loginSignal.password().errors(); track $index) {
                                    <p-message severity="error" size="small" variant="simple">{{ error.message }}</p-message>
                                }
                            }
                        </div>
                    </div>
                    <p-divider />
                    <div class="flex flex-col gap-2.5">
                        <component-button type="submit" [disabled]="this.loginSignal().invalid()" severity="success"
                            [label]="'common.logIn' | translate" />
                        @if (this.registrationEnabled()) {
                            <a class="link-action" tabindex="0" (click)="this.onRedirectToRegister()" (keydown.enter)="this.onRedirectToRegister()">{{ 'login.createAccount' | translate }}</a>
                        }
                    </div>
                </form>
            } @else {
                <img src="logo.svg" alt="" class="mx-auto h-24 w-24" />
                <h1 class="text-center">{{ 'login.twoFactorTitle' | translate }}</h1>
                <p-divider />
                <div class="form-content">
                    @if (this.useRecoveryCode() === false) {
                        <label for="">{{ 'login.twoFactorPrompt' | translate }}</label>
                        <p-inputotp [(ngModel)]="this.twoFactorCode" [length]="6" />
                    } @else {
                        <component-input-text [(value)]="this.recoveryCode" [placeholder]="'login.recoveryCodePlaceholder' | translate" [label]="'login.recoveryCodePrompt' | translate" />
                    }
                    <component-button (onClick)="this.onToggleRecoveryCodeMode()" severity="info" size="small"
                        [label]="(this.useRecoveryCode() ? 'login.useAuthenticatorCode' : 'login.useRecoveryCode') | translate" />
                </div>
                <p-divider />
                <div class="flex gap-2.5">
                    <component-button class="flex-1" (onClick)="this.onCancelTwoFactor()" severity="info" [label]="'common.cancel' | translate" />
                    <component-button class="flex-1" (onClick)="this.SubmitTwoFactor()" severity="success" [label]="'login.verifyCode' | translate" />
                </div>
            }
        } @else {
            @if (this.registrationEnabled()) {
                <form class="flex flex-col" (submit)="this.SubmitRegister($event)">
                    <img src="logo.svg" alt="" class="mx-auto h-24 w-24" />
                    <h1 class="text-center">{{ 'register.title' | translate }}</h1>
                    <p-divider />
                    @if (this.noUsersExist()) {
                        <p-message severity="info" icon="pi pi-info-circle">{{ 'register.ownerNotice' | translate }}</p-message>
                    }
                    <div class="form-content">
                        <div class="form-field">
                            <component-input-text [formField]="this.registerSignal.username" [placeholder]="'common.usernamePlaceholder' | translate" [label]="'common.username' | translate" />
                            @if (this.registerSignal.username().touched()) {
                                @for (error of this.registerSignal.username().errors(); track $index) {
                                    <p-message severity="error" size="small" variant="simple">{{ error.message }}</p-message>
                                }
                            }
                        </div>

                        <div class="form-field">
                            <component-input-password [formField]="this.registerSignal.password"
                                [placeholder]="'common.passwordPlaceholder' | translate" [label]="'common.password' | translate" />
                            @if (this.registerSignal.password().touched()) {
                                @for (error of this.registerSignal.password().errors(); track $index) {
                                    <p-message severity="error" size="small" variant="simple">{{ error.message }}</p-message>
                                }
                            }
                        </div>

                        <div class="form-field">
                            <component-input-password [formField]="this.registerSignal.passwordConfirmation"
                                [placeholder]="'common.confirmPasswordPlaceholder' | translate" [label]="'common.confirmPassword' | translate" />
                            @if (this.registerSignal.passwordConfirmation().touched()) {
                                @for (error of this.registerSignal.passwordConfirmation().errors(); track $index) {
                                    <p-message severity="error" size="small" variant="simple">{{ error.message }}</p-message>
                                }
                            }
                        </div>
                    </div>
                    <p-divider />
                    <div class="flex flex-col gap-2.5">
                        <component-button type="submit" [disabled]="this.registerSignal().invalid()" severity="success"
                            [label]="'register.register' | translate" />
                        <a class="link-action" tabindex="0" (click)="this.onRedirectToLogin()" (keydown.enter)="this.onRedirectToLogin()">{{ 'common.logIn' | translate }}</a>
                    </div>
                </form>
            } @else {
                <img src="logo.svg" alt="" class="mx-auto h-24 w-24" />
                <h1 class="text-center">{{ 'register.title' | translate }}</h1>
                <p-divider />
                <p>{{ 'register.registrationDisabled' | translate }}</p>
                <p-divider />
                <div class="flex gap-2.5">
                    <component-button class="flex-1" (onClick)="this.onRedirectToLogin()" severity="info" [label]="'common.logIn' | translate" />
                </div>
            }
        }
    </p-card>
</section>
