@let hasLabel = this.label().length > 0;

<p-inputgroup>
    @if (hasLabel) {
    <p-iftalabel>
        <input pInputText [type]="this._type()" (input)="this.value.set($event.target.value)"
            [placeholder]="this.placeholder()" autocomplete="off" pSize="large"
            [pKeyFilter]="this.disableSpace() ? this._blockSpace : null" [value]="this.value()" [disabled]="this.disabled()">
        <label for="">{{ this.label() }}</label>
    </p-iftalabel>
    } @else {
    <input pInputText [type]="this._type()" (input)="this.value.set($event.target.value)"
        [placeholder]="this.placeholder()" autocomplete="off" pSize="large"
        [pKeyFilter]="this.disableSpace() ? this._blockSpace : null" [value]="this.value()" [disabled]="this.disabled()">
    }

    <p-inputgroup-addon>
        <p-button [icon]="this._icon()" severity="secondary" size="large" [disabled]="this.disabled()" (click)="this.togglePasswordVisibility()" tabindex="-1" />
    </p-inputgroup-addon>
    @if (this.showCopyButton())
    {
    <p-inputgroup-addon>
        <p-button icon="pi pi-copy" severity="info" size="large" [disabled]="this.disabled()" (click)="this.onCopy.emit()" tabindex="-1" />
    </p-inputgroup-addon>
    }
    @if (this.showGenerateButton())
    {
    <p-inputgroup-addon>
        <p-button icon="pi pi-shield" severity="primary" size="large" [disabled]="this.disabled()" (click)="this.openAdvancedSettings()" tabindex="-1" />
    </p-inputgroup-addon>
    }
</p-inputgroup>

@let modalOpen = this._modalOpen();
@if (modalOpen) {
<component-generate-password (open)="this._modalOpen.set($event)" (onApplyPassword)="this.applyPassword($event)" />
}
