@let hasLabel = this.label().length > 0;

@if (this.showCopyButton()) {
<p-inputgroup>
    @if (hasLabel) {
    <p-iftalabel>
        <input pInputText [pInputMask]="this.mask()" [ngModel]="this.value()" (ngModelChange)="this.value.set($event)"
            [placeholder]="this.placeholder()" [disabled]="this.disabled()" autocomplete="off" pSize="large" fluid>
        <label for="">{{ this.label() }}</label>
    </p-iftalabel>
    } @else {
    <input pInputText [pInputMask]="this.mask()" [ngModel]="this.value()" (ngModelChange)="this.value.set($event)"
        [placeholder]="this.placeholder()" [disabled]="this.disabled()" autocomplete="off" pSize="large" fluid>
    }
    <p-inputgroup-addon>
        <p-button icon="pi pi-copy" severity="info" size="large" [disabled]="this.disabled()" (click)="this.onCopy.emit()" tabindex="-1" />
    </p-inputgroup-addon>
</p-inputgroup>
}
@else {
    @if (hasLabel) {
    <p-iftalabel>
        <input pInputText [pInputMask]="this.mask()" [ngModel]="this.value()" (ngModelChange)="this.value.set($event)"
            [placeholder]="this.placeholder()" [disabled]="this.disabled()" autocomplete="off" pSize="large" fluid>
        <label for="">{{ this.label() }}</label>
    </p-iftalabel>
    } @else {
    <input pInputText [pInputMask]="this.mask()" [ngModel]="this.value()" (ngModelChange)="this.value.set($event)"
        [placeholder]="this.placeholder()" [disabled]="this.disabled()" autocomplete="off" pSize="large" fluid>
    }
}
