section {
    container-name: main;
    container-type: inline-size;
}

.content-button {
    display: grid;
    grid-template-columns: repeat(3, 1fr) repeat(2, 2fr);
    gap: 1rem;
}

.content-footer {
    container-name: footer;
    container-type: inline-size;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    width: 100%;

}

@container main (width <=800px) {
    .content-button {
        grid-template-columns: repeat(3, 1fr);

        p-button:nth-child(5),
        p-button:nth-child(10) {
            grid-column: span 2;
        }
    }
}

@container main (width <=600px) {
    .content-button {
        grid-template-columns: repeat(2, 1fr);

        p-button:nth-child(5),
        p-button:nth-child(10) {
            grid-column: initial;
        }
    }
}

@container main (width <=400px) {
    .content-button {
        grid-template-columns: repeat(2, 1fr);

        p-button:nth-child(5),
        p-button:nth-child(10) {
            grid-column: span 2;
        }
    }
}

@container footer (width <=600px) {
    .content-footer {
        p-button {
            flex: 1;
        }
    }
}