@let passwordScore = this._passwordScore();

<p-dialog [header]="'generatePassword.title' | translate" [modal]="true" [visible]="true" [style]="{ width: '90vw' }" [draggable]="false"
    [resizable]="false" (visibleChange)="this.onVisibleChange($event)" [maximizable]="true" appendTo="body">
    <section>
        <form (submit)="this.applyPassword($event)">
            <p-inputgroup>
                <input pInputText [type]="this._type()" autocomplete="off" pSize="large" [pKeyFilter]="this._blockSpace"
                    [formField]="this._mainForm.password">

                <p-inputgroup-addon>
                    <p-button [icon]="this._icon()" severity="secondary" size="large"
                        (click)="this.togglePasswordVisibility()" />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button icon="pi pi-copy" severity="info" size="large" (click)="this.copyPassword()" [disabled]="this._mainForm().invalid()" />
                </p-inputgroup-addon>
                <p-inputgroup-addon>
                    <p-button icon="pi pi-refresh" severity="primary" size="large" (click)="this.refreshPassword()" />
                </p-inputgroup-addon>
            </p-inputgroup>
            @if (this._mainForm.password().touched()) {
                @for (error of this._mainForm.password().errors(); track $index) {
                    <p-message severity="error" size="large" variant="simple">{{ error.message }}</p-message>
                }
            }
            <p-progressbar [value]="passwordScore.value">
                <ng-template #content let-value>
                    <span>{{ passwordScore.label }}</span>
                </ng-template>
            </p-progressbar>

        </form>
        <p-divider />

        <div class="flex gap-4">
            <p-inputnumber [(ngModel)]="this._optionsModel().length" mode="decimal" inputId="withoutgrouping"
                [useGrouping]="false" (onInput)="this.changePasswordLength($event.value)" autocomplete="off" fluid
                [showButtons]="true" [min]="this._minPasswordLength" [max]="this._maxPasswordLength" />

            <div class="flex items-center gap-2 text-nowrap">
                <p-checkbox [(ngModel)]="this._optionsModel().prioritizeSpecialChars" [binary]="true"
                    (onChange)="this.changePrioritizeSpecialChars($event.checked)" inputId="prioritizeSpecialChars" />
                <label for="prioritizeSpecialChars" style="cursor: pointer;"> {{ 'generatePassword.prioritizeSpecialChars' | translate }} </label>
            </div>

        </div>
        <p-divider />


        <div class="content-button">
            @for (buttonCharacter of this._buttonCharacters(); track buttonCharacter.id) {
            <p-button [label]="buttonCharacter.label" [severity]="buttonCharacter.active ? 'success' : 'secondary'"
                size="large" (click)="this.toggleActiveButtonCharacter(buttonCharacter.id)" fluid />
            }
        </div>
        <p-divider />
    </section>

    <ng-template #footer>
        <div class="content-footer">
            <p-button [label]="'common.cancel' | translate" severity="secondary" size="large" (click)="this.onVisibleChange(false)" fluid />
            <p-button [label]="'generatePassword.apply' | translate" severity="success" size="large" (click)="this.applyPassword()"
                [disabled]="this._mainForm().invalid()" fluid />
        </div>
    </ng-template>
</p-dialog>